<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Valeur foncière 🏠</title>
   <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<script>
function validateForm() {
  var validate = true;
  var fields =["Surface","Nombre pieces","Code postal"];
  fields.map(element => {
    var x = document.forms["form"][element].value;
    var number = Number(x);
    if(isNaN(number)){
      validate = false;
      alert(`${element} must be a number`);
    }
  })
  return validate;
}
</script>

<body>
 <div id="prediction">
	<h1>Prédire la valeur foncière de votre bien</h1>
     
    <form id="form" name="form" onsubmit="return validateForm()" action="{{ url_for('predict')}}" method="post">
    	  <input type="text" name="Surface" placeholder="Surface reelle bati en mètre carré" required="required" />
        <input type="text" name="Nombre pieces" placeholder="Nombre pieces principales" required="required" />
        <input type="text" name="Code postal" placeholder="Code postal (75000)" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" va>Predire la valeur foncière de ce bien</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>